/*hero section*/

@media screen and (max-width: 479px) {
  .hero-section {
    margin-top: 0;
    text-align: center;
    background-color: $primary-text-color;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url("../img/mobile-480-400.jpg");

    background-repeat: no-repeat;
  }

  .hero-section .container {
    padding-top: 118px;
    padding-right: 40px;
    padding-bottom: 39px;
    padding-left: 35px;
  }

  .main-title {
    display: block;
    font-family: $font-family-main;
    font-style: normal;
    font-weight: 900;

    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1.61em;

    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-white-color;
  }

  .hero-modal-btn {
    display: inline-block;
    font-family: $font-family-main;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87em;
    height: 50px;
    padding: 10px 32px;

    letter-spacing: 0.06em;
    color: $primary-white-color;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 480px) {
  .hero-section {
    margin-top: 0;
    text-align: center;
    background-color: $primary-text-color;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url("../img/mobile.jpg");

    background-repeat: no-repeat;
  }

  .hero-section .container {
    padding-top: 118px;
    padding-right: 60px;
    padding-bottom: 118px;
    padding-left: 60px;
  }

  .main-title {
    display: block;
    font-family: $font-family-main;
    font-style: normal;
    font-weight: 900;

    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1.61em;

    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-white-color;
  }

  .hero-modal-btn {
    display: inline-block;
    font-family: $font-family-main;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87em;
    height: 50px;
    padding: 10px 32px;

    letter-spacing: 0.06em;
    color: $primary-white-color;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    margin-top: 0;
    text-align: center;
    background-color: $primary-text-color;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url("../img/Header.images.jpg");

    background-repeat: no-repeat;
  }

  .hero-section .container {
    padding-top: 200px;
    padding-right: 64px;
    padding-bottom: 235px;
    padding-left: 64px;
  }

  .main-title {
    display: block;
    font-family: $font-family-main;
    font-style: normal;
    font-weight: 900;

    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1.61em;

    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-white-color;
  }

  .hero-modal-btn {
    display: inline-block;
    font-family: $font-family-main;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87em;
    height: 50px;
    padding: 10px 32px;

    letter-spacing: 0.06em;
    color: $primary-white-color;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    margin-top: 0;
    text-align: center;
    background-color: $primary-text-color;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url("../img/Header.images.jpg");

    background-repeat: no-repeat;
  }

  .hero-section .container {
    padding-top: 200px;
    padding-right: 100px;
    padding-bottom: 200px;
    padding-left: 100px;
  }

  .main-title {
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 1.36em;

    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-white-color;
  }

  .hero-modal-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87em;
    height: 50px;
    padding: 10px 32px;

    letter-spacing: 0.06em;
    color: $primary-white-color;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
