$primary-text-color: #757575;
$primary-title-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$footer-background-color: #2f303a;
$main-black-color: #000000;
$secondary-white-color: #f5f4fa;
$footer-links-color: rgba (255, 255, 255, 0.6);
$hover-links-color: #188ce8;
$font-family-main: "DM Sans", sans-serif;
$font-family-secondary: "Titan One", cursive;
$footer-primary-color: #2f303a;
